body{
    font-family: 'Quicksand', sans-serif;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-body {
    display: flex;
  }

  .pet-detail {
    border-right: 1px solid black;
    padding-right: 10px;
  }

section{
    padding: 30px;
}